In [26]:
import yfinance as yf
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [27]:
def drop_columns(hist):
    return hist.drop(columns=['High', 'Low', 'Volume', 'Dividends', 'Stock Splits'])

def set_size(num, df):
    return df.shape[0]-num

In [28]:
data = yf.Ticker('MSFT')
df = drop_columns(data.history(start='2010-01-01'))
n = len(df)
df

              Open   Close
Date
2010-01-04   23.91   24.17
2010-01-05   24.09   24.18
2010-01-06   24.11   24.03
2010-01-07   23.92   23.78
2010-01-08   23.65   23.94
...            ...     ...
2020-09-16  210.62  205.05
2020-09-17  200.05  202.91
2020-09-18  202.80  200.39
2020-09-21  197.19  202.54
2020-09-22  205.06  207.42

[2699 rows x 2 columns]

In [29]:
df.describe().transpose()

        count       mean        std    min     25%    50%    75%     max
Open   2699.0  61.008344  47.670550  18.20  24.570  41.56  85.20  229.27
Close  2699.0  61.028118  47.684435  18.13  24.605  41.65  84.81  231.65

In [30]:
import datetime

date_time = pd.to_datetime(df.index, format='%d.%m.%Y')
timestamp_s = date_time.map(datetime.datetime.timestamp)
date_time

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14',
               '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
               '2020-09-21', '2020-09-22'],
              dtype='datetime64[ns]', name='Date', length=2699, freq=None)

In [31]:
column_indices = {name: i for i, name in enumerate(df.columns)}
column_indices

{'Open': 0, 'Close': 1}