In [2]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
test_length = 182

In [3]:
def drop_columns(hist):
    return hist.drop(columns=['Open', 'High', 'Low', 'Volume', 'Dividends', 'Stock Splits'])

def set_size(num, df):
    return df.shape[0]-num

In [10]:
data = yf.Ticker('MSFT')
df = drop_columns(data.history(period="max"))
n = len(df)
df

             Close
Date
1986-03-13    0.06
1986-03-14    0.06
1986-03-17    0.07
1986-03-18    0.06
1986-03-19    0.06
...            ...
2020-09-16  205.05
2020-09-17  202.91
2020-09-18  200.39
2020-09-21  202.54
2020-09-22  204.66

[8704 rows x 1 columns]